$black:        #00272C;

$teal5:        #013137;
$teal4:        #00424A;
$teal3:        #00555F;
$teal2:        #007482;
$teal1:        #0692A3;
$teal:         #00b5cb;
$teal-1:       #2CC0D2;
$teal-2:       #68CBDA;
$teal-3:       #89DCE8;
$teal-4:       #B3EEF7;
$teal-5:       #DEFBFF;

$red5:         #440300;
$red4:         #6B0601;
$red3:         #970902;
$red2:         #BE160E;
$red1:         #D5231A;
$red:          #EE2E24;
$red-1:        #FA4239;
$red-2:        #FF665F;
$red-3:        #FF9C97;
$red-4:        #FFCDCB;
$red-5:        #FFEFEF;

$orange5:      #3F1B0D;
$orange4:      #823314;
$orange3:      #A64119;
$orange2:      #C44B1C;
$orange1:      #DD541F;
$orange:       #F15C22;
$orange-1:     #F67745;
$orange-2:     #FF9369;
$orange-3:     #FEB497;
$orange-4:     #FFCFBC;
$orange-5:     #FFE1D5;

$olive5:       #262300;
$olive4:       #3F3A00;
$olive3:       #5D5500;
$olive2:       #968A01;
$olive1:       #C1B101;
$olive:        #D7C500;
$olive-1:      #E9D500;
$olive-2:      #FDE700;
$olive-3:      #FFF051;
$olive-4:      #FFF8AD;
$olive-5:      #FCFAE5;

$grey5:        #3B3B3B;
$grey4:        #4C4C4C;
$grey3:        #656565;
$grey2:        #717171;
$grey1:        #898989;
$grey:         #999999;
$grey-1:       #AFAFAF;
$grey-2:       #C4C4C4;
$grey-3:       #DBDBDB;
$grey-4:       #EBEBEB;
$grey-5:       #F6F6F6;


