extends layouts/default

block vars
  - var pageTitle = 'Honest Interaction Design Library'

block content

  dl.ixd-list
    dt.ixd-list__type General
    dd
      a.ixd-list__item(href="modules/slot-edit.html") Slot Edit
    dd
      a.ixd-list__item(href="modules/select-option.html") Select Option
    dd
      a.ixd-list__item(href="modules/product-flag.html") Product Flag
    dt.ixd-list__type Mobile Specific
    dd
      a.ixd-list__item(href="modules/sliding-panel.html") Sliding Panel
