extends layouts/default

block vars
  - var pageTitle = 'Honest Interaction Design Library'

block content

  dl.ixd-list
    dt.ixd-list__type General 
    //dd
      //a.ixd-list__item(href="slot-edit.html") Slot Edit
    dd
      a.ixd-list__item(href="select-option.html") Select Option
    dd
      a.ixd-list__item(href="product-flag.html") Product Flag      
    dd
      a.ixd-list__item(href="text-update.html") Text Update
    dt.ixd-list__type Mobile Specific
    dd
      a.ixd-list__item(href="sliding-panel.html") Sliding Panel
    dd
      a.ixd-list__item(href="mobile-modal.html") Mobile Modal
