.container.hidden-xs
  .module-nav
    .row.row-flex
      .col-xs-6
        a.module-nav__link(href="/index.html") Back to Honest Interaction Design Library
      .col-xs-6
        h1.module-nav__title #{moduleName} |
        h2.module-nav__subtitle #{moduleType}