doctype html
html.no-js
  block vars
  head
    meta(charset='utf-8')
    title #{pageTitle}
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    script(src="https://use.fontawesome.com/0f9d1c7bb6.js")
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

  body
    .container
      header
        .row
          .col-xs-12
            h1.page-title #{pageTitle}
            
      .content-area
        .row
          .col-xs-12
            block content
          
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js')
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-animate/angular-animate.js')
    // endbower